@page "/leilao/{id}"
@using ArtVault.Business

@inject IArtVaultFacade IAVFacade
@inject NavigationManager NavManager

<style>
    .leilao-container {
        max-width: 800px;
        margin: 20px auto;
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .leilao-details {
        margin-bottom: 10px;
    }

    .leilao-image {
        max-width: 100%;
        height: auto;
        border-radius: 8px;
        margin-bottom: 10px;
    }
</style>

<div class="leilao-container">
    <h2>@LeilaoInstance.GetNome()</h2>

    <div class="leilao-details">
        <p><strong>Data de Início:</strong> @LeilaoInstance.GetDataCom().ToString("dd/MM/yyyy HH:mm:ss")</p>
        <p><strong>Data de Fim:</strong> @LeilaoInstance.GetDataFim().ToString("dd/MM/yyyy HH:mm:ss")</p>
        <p><strong>Preço de Reserva:</strong> @LeilaoInstance.GetPrecoReserva()</p>
        <p><strong>Preço de Referência:</strong> @LeilaoInstance.GetPrecoReferencia()</p>
        <p><strong>Dimensões:</strong> @LeilaoInstance.GetDimensoes()</p>
        <p><strong>Descrição:</strong> @LeilaoInstance.GetDescricao()</p>
    </div>

    <img class="leilao-image" src="@LeilaoInstance.GetImagem()" alt="Imagem do Leilão" />

    <div class="leilao-details">
        <p><strong>Tipo:</strong> @(LeilaoInstance.GetTipo() == 1 ? "Normal" : "Sealed")</p>
    </div>

    <button class="btn" @onclick="HandleBid">Fazer Lance</button>
</div>

@code {
    [Parameter]
    public string Id { get; set; }
    public Leilao LeilaoInstance;

    private void HandleBid()
    {
        // Logic for handling bids goes here
        // You may want to redirect to a bidding page or implement bid functionality within this component
    }

    protected override void OnInitialized()
    {
        // Initialize the LeilaoInstance based on the provided Id or any other logic
        int leilaoId = Convert.ToInt32(Id);
        LeilaoInstance = IAVFacade.getLeilaoWithId(leilaoId);

        base.OnInitialized();
    }
}
